<section style="background-image: url('/istockphoto-1970265582-612x612.jpg');" class="w-full overflow-hidden hero-section h-screen bg-white dark:bg-gray-900">
    <div class="container relative  overflow-hidden h-screen px-6 py-8 mx-auto">
        

        <section class="flex items-center flex-1">
          
            <div class="flex flex-col w-full ">

                <div class="logo flex justify-center relative overflow-hidden">
    <img src="/379788-PC6M3J-741 copie.svg" width="300px" alt="" class="luxury-logo">
</div>
                <h1 class="text-2xl font-extrabold text-center lg:text-4xl 2xl:text-6xl">
                    <span class="text-transparent bg-gradient-to-br bg-clip-text from-[#FFFF65] via-[#FFFF65] to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500">
                    Gagnez de l’argent
                    </span>

                    <span class="text-transparent bg-gradient-to-tr bg-clip-text from-blue-500 via-[#FFFF65] to-red-500 dark:from-sky-300 dark:via-pink-300 dark:to-red-500">
                   à chaque parrainage
                    </span>
                </h1>

                <p class="max-w-3xl mx-auto mt-6 text-lg text-center text-white   md:text-xl">
                   Achetez votre clé, invitez vos proches et touchez des commissions sur chaque filleul.
                </p>

                <div class="flex flex-col mt-8 space-y-3 sm:-mx-2 sm:flex-row sm:justify-center sm:space-y-0">
                   

                    <button (click)="navigateToRegister()" class="px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:bg-blue-600 focus:outline-none sm:mx-2">
                       Commencer maintenant
                    </button>
                </div>

               
            </div>
        </section>

  
    </div>
</section>
